

body { 
    padding-top: 100px; 
}
#cityList{

    list-style-type: none;
}
.cityBtn{
    width: 200px;
    height: auto;
    border: white;
    border-style: solid;
}
.deleteBtn{
    float: right;

}
.cityDisplay{
    border-style: solid;
    border-width: 0.5px;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
}
.forecastDisplay{
    display: inline-flex;
    margin: 15px;
    padding: 5px;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 5px;
    background-color: dodgerblue;
    color: floralwhite;
    align-content: center;
    
}
#favourable{
    background-color: green;
    color: white;
    border-style: none;
    width: 120px;
}
#moderate{
    background-color: goldenrod;
    color: white;
    border-style: none;
    width: 120px;
    
}
#high{
    background-color: red;
    color: white;
    border-style: none;
    width: 120px;
}
